@font-face { font-family: 'Roboto'; src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/robotolight.woff2") format("woff2"), url("../fonts/robotolight.woff") format("woff"), url("../fonts/robotolight.ttf") format("truetype"); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Roboto'; src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff"), url("../fonts/roboto.ttf") format("truetype"); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Roboto'; src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff"), url("../fonts/robotobold.ttf") format("truetype"); font-weight: 700; font-style: normal; }
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; outline: none; }

audio, canvas, iframe, img, svg, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover, a:focus { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: 700; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: 700; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea { -webkit-appearance: none; appearance: none; }

ul, ol { list-style-position: inside; }

img { max-width: 100%; height: auto; pointer-events: none; }

[class^="icon_"], [class*=" icon_"], .icon { display: inline-block; width: 1em; height: 1em; fill: currentColor; }

ul li, ol li { list-style: none; }

/* MODULES */
.modul { display: none; }

.dialog { max-width: 50rem; margin: 0 auto; padding: 4rem 3rem 5rem; background-color: #fff; box-shadow: 0 0 1.6rem 0.4rem rgba(0, 0, 0, 0.3); display: none; z-index: 503; position: relative; }
.dialog_wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: table; vertical-align: middle; display: none; z-index: 500; padding: 4rem 0; }
.dialog_wrapper .main_table { width: 100%; height: 100%; padding-right: 2rem; }
.dialog_wrapper .main_tcell { padding: 0 1rem; }
.dialog .icon_close { position: absolute; top: .8rem; right: .8rem; color: #646464; font-size: 2rem; line-height: 0; cursor: pointer; transition: all .3s ease; opacity: .6; }
.dialog .icon_close:hover { opacity: 1; color: #dc3522; }
.dialog_bg { position: fixed; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.34); display: none; width: 100%; height: 100%; }
.dialog_opened { position: fixed; overflow-y: scroll; width: 100%; height: 100%; }
.dialog_opened .dialog { -webkit-animation: showDialog .3s both; animation: showDialog .3s both; }
.dialog_opened .dialog_bg { -webkit-animation: fadeIn .3s both; animation: fadeIn .3s both; }
.dialog_opened .dialog_wrapper { display: block; }
.dialog_scrollable_mobile .dialog_wrapper { width: 100% !important; }
.dialog_scrollable_mobile .main_table { padding-right: 0 !important; }
.dialog_scrollable .dialog_wrapper { overflow-y: scroll; width: calc( 100% + 4rem); }

@-webkit-keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes showDialog { 0% { opacity: 0; -webkit-transform: translateY(40px); }
  100% { opacity: 1; -webkit-transform: translateY(0); } }
@keyframes showDialog { 0% { opacity: 0; transform: translateY(40px); }
  opacity: 1; transform: translateY(0); }
.footer.fixed_footer { position: fixed; bottom: 0; left: 0; width: 100%; }

.dialog .title, .dialog .title_, .dialog .title { text-transform: none; }
.dialog p { font: 300 1.5rem/1.67 Roboto; color: #646464; text-align: center; }
.dialog .mp1 { margin-bottom: 2rem; }
.dialog .mp2 { font-size: 1.8rem; color: #6a6a6a; }

.button.btn_wd { width: 100%; min-width: 0; padding: 1.3rem 0; background-color: #e74c3c; color: #fff; }
.button.btn_wd:hover { background-color: #fff; color: #e74c3c; }

.ico_check { display: inline-block; font-size: 1rem; width: 2.2em; height: 3.4em; border: 0 solid #18ab30; border-width: 0 1em 1em 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.modal_alert_book { text-align: center; }
.modal_alert_book p { color: #18ab30; font: 700 2rem Roboto; }
.modal_alert_book .ico_check { margin-bottom: 1.6rem; }

.login_form { max-width: 28rem; margin: 0 auto; }
.login_form .title { margin-bottom: 3rem; letter-spacing: 0; }

.button.btn_fb, .button.btn_gp { width: 48.5%; min-width: 0; padding: 1.2rem 0; margin-bottom: 1.6rem; font: 700 1.8rem Roboto; color: #fff; text-transform: none; border-width: 2px; }
.button.btn_fb { float: left; background-color: #3a559f; border-color: #3a559f; }
.button.btn_fb:hover { background-color: #fff; color: #3a559f; border-color: #3a559f; }
.button.btn_gp { float: right; background-color: #dd4b39; border-color: #dd4b39; }
.button.btn_gp:hover { background-color: #fff; color: #dd4b39; border-color: #dd4b39; }

.underscore_rev.btn_open_reg, .underscore_rev.btn_open_login { margin-top: .4rem; color: #e74c3c; font: 700 2.2rem/1.2 Roboto; }
.underscore_rev.btn_open_reg:before, .underscore_rev.btn_open_login:before { border-width: 2px; opacity: .6; }

html { font-size: 62.5%; }

body { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; overflow-x: hidden; line-height: 1.2; font-size: 1.6em; font-family: Roboto, Verdana, Geneva, sans-serif; color: #000; }

[disabled], .disabled { opacity: .5; cursor: not-allowed; pointer-events: none; }

.clearfix::before, .rows::before, .clearfix::after, .rows::after { content: " "; display: table; }

.clearfix::after, .rows::after { clear: both; }

.clearfix, .rows { *zoom: 1; }

::-webkit-input-placeholder { color: #000; transition: all .3s; }

::placeholder { color: #000; transition: all .3s; }

a { text-decoration: none; color: inherit; transition: all .3s; }

a:hover, a:focus { color: #e74c3c; }

.table { display: table; }

.tableb { display: table; border-collapse: collapse; border-spacing: 0; }

.trow { display: table-row; }

.tcell { display: table-cell; vertical-align: middle; }

.tc { text-align: center; }

.tl { text-align: left; }

.tr { text-align: right; }

.fl { float: left; }

.fr { float: right; }

hr { border-top: 1px solid #dbdbdb; border-bottom: 0; border-right: 0; border-left: 0; clear: both; margin: 2rem 0; }

hr.dotted { border-style: dotted; }

hr.dashed { border-style: dashed; }

.rows { position: relative; }

[class*='col_'] { margin-right: 4%; float: left; }

[class*='col_']:last-child { margin-right: 0; }

.col_1 { width: 4.66666666667%; }
.col_2 { width: 13.3333333333%; }
.col_3 { width: 22%; }
.col_4 { width: 30.6666666667%; }
.col_5 { width: 39.3333333333%; }
.col_6 { width: 48%; }
.col_7 { width: 56.6666666667%; }
.col_8 { width: 65.3333333333%; }
.col_9 { width: 74%; }
.col_10 { width: 82.6666666667%; }
.col_11 { width: 91.3333333333%; }
.col_12 { width: 100%; margin-right: 0; }

.map_overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.h1, .h2, .h3, .h4 { display: block; letter-spacing: .025em; color: #1e1e1e; }

.h1 { font-size: 3.6rem; }

.h2 { font-size: 2.8rem; }

.h3 { font-size: 2.4rem; }

.h4 { font-size: 2rem; }

.wrapper { width: 100%; max-width: 120rem; padding: 0 1.5rem; margin: 0 auto; position: relative; }

.wrapper:after { content: ""; display: table; clear: both; }

.nowrap { white-space: nowrap; }

.tab_content .tab_item:not(:first-child) { display: none; }

.input::-webkit-input-placeholder { color: #545454; }
.input:-moz-placeholder { color: #545454; }
.input::-moz-placeholder { color: #545454; }
.input:-ms-input-placeholder { color: #545454; }
.input::placeholder { color: #545454; }

.input:focus::-webkit-input-placeholder { opacity: 0; }
.input:focus:-moz-placeholder { opacity: 0; }
.input:focus::-moz-placeholder { opacity: 0; }
.input:focus:-ms-input-placeholder { opacity: 0; }
.input:focus::placeholder { opacity: 0; }

.input { display: block; width: 100%; height: 5rem; border-radius: 0; margin-bottom: 2rem; padding: 0 1.5rem; font: 300 1.8rem Roboto; color: #0e0e0f; border: 1px solid #acacac; background-color: #fff; -webkit-transition: all 0.3s; transition: all 0.3s; }

textarea.input { min-height: 10rem; padding-top: 1.2rem; }

select.input { padding: 0 .8rem; }

select.input { width: 100%; height: 4.4rem; padding: 0 2rem; color: #787878; -webkit-appearance: none; line-height: 1em; -moz-appearance: none; text-indent: 0.01px; text-overflow: ''; -ms-appearance: none; appearance: none !important; background: #efefef url(/img/arrow_down.png) 95% 50% no-repeat; }

select::-ms-expand { display: none; }

.validate_error { border: 1px solid #e57373 !important; }

.labels { display: inline-block; font: 400 1.8rem Roboto; color: #545454; }

.dialog .labels + .input { margin-bottom: .8rem; }

.button { display: inline-block; min-width: 23.3rem; padding: 1.3rem 2rem; color: #fff; font: 700 1.5rem Roboto; letter-spacing: .025em; color: #e74c3c; background-color: transparent; border: 1px solid #e74c3c; border-radius: 0; white-space: nowrap; text-align: center; text-decoration: none; text-transform: uppercase; cursor: pointer; -webkit-transition: all 0.3s; transition: all 0.3s; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.button span { vertical-align: middle; }
.button i { margin-left: .8rem; }
.button:hover { color: #fff; background-color: #e74c3c; border-color: #e74c3c; }

.pagination { padding: 2rem 0; text-align: center; font-size: 0; }
.pagination li { display: inline-block; margin: .4rem .3rem; vertical-align: middle; }
.pagination li a { position: relative; display: block; min-width: 4.1rem; height: 3rem; padding: 0 .5rem; font: 700 1.5rem/3rem Roboto; color: #e75849; text-align: center; }
.pagination li span { position: relative; display: block; min-width: 4.1rem; height: 3rem; padding: 0 .5rem; font: 700 1.5rem/3rem Roboto; color: #000; text-align: center; }
.pagination li a:hover { background-color: #e75849; color: #fff; }
.pagination li a:hover:before { border-color: #fff !important; }
.pagination li.prev a:before, .pagination li.next a:before { content: ''; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-25%, -50%) rotate(45deg); -ms-transform: translate(-25%, -50%) rotate(45deg); transform: translate(-25%, -50%) rotate(45deg); width: 7px; height: 7px; border: 0 solid #e75849; border-width: 0 0 2px 2px; }
.pagination li.next a:before { border-width: 2px 2px 0 0; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-75%, -50%) rotate(45deg); -ms-transform: translate(-75%, -50%) rotate(45deg); transform: translate(-75%, -50%) rotate(45deg); }
.pagination li.active a { background-color: #e75849; color: #fff; }

.js_DropWrap { position: relative; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.js_DropBtn { cursor: pointer; }
.js_DropBox { display: none; position: absolute; top: 100%; left: 0; z-index: 1; }

.topPadidng { padding-top: 11.8rem; }

.posTop { position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: auto; top: 11.8rem; }

.ic_arrow { position: relative; display: inline-block; width: 1em; height: 1.4em; font-size: 1rem; -webkit-transition: all 0.3s; transition: all 0.3s; vertical-align: middle; }
.ic_arrow:before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; font-size: inherit; width: 1em; height: 1em; border: 0 solid; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: all 0.3s; transition: all 0.3s; }

.ic_dir_arrow { position: relative; display: inline-block; width: 1.5em; height: 1.2em; font-size: 1rem; vertical-align: middle; }
.ic_dir_arrow:before { content: ''; position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: auto; width: 100%; height: 0; border-top: 1px solid; }
.ic_dir_arrow:after { content: ''; position: absolute; width: .9em; height: .9em; border: 0 solid; border-width: 1px 1px 0 0; position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: auto 2px auto auto; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.arr_right { position: relative; display: inline-block; width: 1.7em; height: .8em; font-size: 1rem; vertical-align: middle; }
.arr_right:before { content: ''; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; width: 1.4em; border-top: .2em solid; }
.arr_right:after { content: ''; position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: auto 0 auto auto; display: block; width: 0; height: 0; border-left: .5em solid; border-top: .4em solid transparent; border-bottom: .4em solid transparent; }

.underscore { position: relative; display: inline-block; vertical-align: middle; line-height: 1.4; }
.underscore:before { content: ''; position: absolute; left: 50%; bottom: 0; display: block; width: 0; border-bottom: 1px solid; -webkit-transition: left 0.3s, width 0.3s; transition: left 0.3s, width 0.3s; }
.underscore:hover:before { left: 0; width: 100%; }

a:hover .underscore:before { left: 0; width: 100%; }

.underscore_rev { position: relative; display: inline-block; vertical-align: middle; line-height: 1.4; }
.underscore_rev:before { content: ''; position: absolute; left: 0; bottom: 0; display: block; width: 100%; border-bottom: 1px solid; -webkit-transition: left 0.3s, width 0.3s; transition: left 0.3s, width 0.3s; }
.underscore_rev:hover:before { left: 50%; width: 0; }

a:hover .underscore_rev:before { left: 50%; width: 0; }

.social a { display: inline-block; font-size: 2.6rem; }
.social a + a { margin-left: .6rem; }

.double_pic, .double_pic_rev { position: relative; width: 100%; max-width: 55.4rem; }
.double_pic:before, .double_pic_rev:before { content: ''; display: block; padding-top: 104.8%; }
.double_pic .pic, .double_pic_rev .pic { position: absolute; width: 86.3%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }
.double_pic .pic:first-child, .double_pic_rev .pic:first-child { left: 0; bottom: 0; }
.double_pic .pic:last-child, .double_pic_rev .pic:last-child { top: 0; right: 0; }
.double_pic .pic:before, .double_pic_rev .pic:before { content: ''; display: block; padding-top: 104.8%; }

.double_pic_rev .pic:first-child { top: auto; left: auto; right: 0; bottom: 0; }
.double_pic_rev .pic:last-child { top: 0; left: 0; right: auto; bottom: auto; }

.title_, .title { position: relative; padding-bottom: 1.2rem; margin-bottom: 2rem; font: 700 3rem Roboto; letter-spacing: .025em; color: #1e1e1e; text-transform: uppercase; }
.title_:before, .title:before { content: ''; position: absolute; left: 0; bottom: 0; width: 4.8rem; height: 0.2rem; background-color: #e74c3c; }

.title { text-align: center; }
.title:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.breadcrumbs { color: #fff; padding: .5rem 0; }
.breadcrumbs li { position: relative; display: inline-block; padding-right: 2.2rem; margin: .5rem 1.4rem .5rem 0; }
.breadcrumbs li:before { content: ''; position: absolute; top: .5rem; right: 0; display: block; border-left: 5px solid; border-top: 5px solid transparent; border-bottom: 5px solid transparent; }
.breadcrumbs li:last-child { padding-right: 0; margin-right: 0; }
.breadcrumbs li:last-child:before { display: none; }
.breadcrumbs a, .breadcrumbs span { font-size: 1.5rem; letter-spacing: .025em; color: #fff; }
.breadcrumbs span { cursor: default; }

.checkbox { vertical-align: top; width: 13px; height: 13px; }

.checkbox + label { color: #5e5e5e; cursor: pointer; -webkit-transition: all 0.3s; transition: all 0.3s; }

.checkbox:not(checked) { position: absolute; opacity: 0; }

.checkbox:not(checked) + label { display: inline-block; position: relative; padding: 1px 0 1px 20px; font-size: 1.4rem; }

.checkbox:not(checked) + label:before { content: ''; position: absolute; top: 1px; left: 0; width: 13px; height: 13px; border: 1px solid #9c9c9c; -webkit-transition: all 0.3s; transition: all 0.3s; }

.checkbox:not(checked) + label:after { content: ''; position: absolute; top: 2px; left: 4px; width: 5px; height: 9px; border: 0 solid #1e1e1e; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); opacity: 0; }

.checkbox:not(checked) + label:hover { color: #e74c3c; }
.checkbox:not(checked) + label:hover:before { border-color: #e5e7e9; }

.checkbox:checked + label { color: #e74c3c; }
.checkbox:checked + label:before { border-color: #e5e7e9; }
.checkbox:checked + label:after { opacity: 1; }

.checkbox:hover + label:before { border-color: #e5e7e9; }

.share_soc a { display: inline-block; margin: 0 3px; }
.share_soc a:hover { -webkit-transform: scale(1.15); -ms-transform: scale(1.15); transform: scale(1.15); }
.share_soc .icon { font-size: 3.4rem; }
.share_soc .icon-twitter { color: #50abf1; }
.share_soc .icon-google { color: #dd4b39; }
.share_soc .icon-facebook { color: #3a559f; }

.input_effect { position: relative; }
.input_effect .labels { position: absolute; top: 1.6rem; left: 1.5rem; color: #545454; font: 300 1.8rem/1 Roboto; white-space: nowrap; -webkit-transition: all 0.25s; transition: all 0.25s; pointer-events: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.input_effect.focus .labels { top: -15px; font-size: 1.2rem; letter-spacing: .1em; }

.mosaic { padding: 1.9rem 0; background-position: center top; text-align: center; }

.type_number input::-webkit-outer-spin-button, .type_number input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

.type_number input[type='number'] { -moz-appearance: textfield; }

.type_number { position: relative; display: inline-block; margin: 0 auto; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: nowrap; }
.type_number input { display: inline-block; width: 4.1rem; height: 3rem; font-size: 1.5rem; color: #1e1e1e; letter-spacing: .05em; border: 1px solid #9c9c9c; text-align: center; vertical-align: middle; }
.type_number span { position: relative; display: inline-block; width: 4.1rem; height: 3rem; color: #9c9c9c; vertical-align: middle; cursor: pointer; }
.type_number span:before { content: ''; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-75%, -50%) rotate(45deg); -ms-transform: translate(-75%, -50%) rotate(45deg); transform: translate(-75%, -50%) rotate(45deg); width: 5px; height: 5px; border: 0 solid; border-width: 1px 1px 0 0; }
.type_number span:hover { color: #e74c3c; }
.type_number .minus:before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-25%, -50%) rotate(45deg); -ms-transform: translate(-25%, -50%) rotate(45deg); transform: translate(-25%, -50%) rotate(45deg); border-width: 0 0 1px 1px; }

.content { font-size: 1.6rem; font-weight: 300; color: #1e1e1e; }
.content a:not(.button) { position: relative; display: inline-block; color: #000; font-weight: 700; }
.content a:not(.button):before { content: ''; position: absolute; left: 0; bottom: .2rem; width: 100%; height: 0; border-bottom: 2px solid #8f8f8f; -webkit-transition: all 0.3s; transition: all 0.3s; }
.content a:not(.button):hover { color: #e74c3c; }
.content a:not(.button):hover:before { left: 50%; width: 0; }
.content img { height: auto !important; }
.content table, .content img, .content iframe, .content li, .content p { margin-bottom: 1.33em; }
.content ul:last-child, .content ol:last-child, .content table:last-child, .content img:last-child, .content iframe:last-child, .content blockquote:last-child, .content p:last-child { margin-bottom: 0; }
.content ul li { margin-left: 1.8rem; padding-left: .8rem; list-style-type: square; }
.content ol li { margin-left: 1.8rem; padding-left: .8rem; list-style-type: decimal; }
.content li { font-size: 1em; line-height: 1.67; }
.content h1, .content .h1, .content h2, .content .h2, .content h3, .content .h3, .content h4, .content .h4 { margin-bottom: .6rem; color: #1e1e1e; }
.content h1 { font-size: 3.6rem; }
.content h2 { font-size: 2.8rem; }
.content h3 { font-size: 2.4rem; }
.content h4 { font-size: 2rem; }
.content p { font-size: 1em; line-height: 1.67; color: #646464; }
.content blockquote { padding-left: 4.8rem; margin-bottom: 1.33em; border-left: 4px solid #e74c3c; font-style: italic; line-height: 1.67; }

.header { position: fixed; top: 0; left: 0; right: 0; z-index: 3; background-color: #fff; border-bottom: 1px solid #e7e7e7; }
.header_top { padding: 1.6rem 0; background-color: #202020; color: #fff; }
.header_logo { float: left; padding-top: 3px; }
.header_right { float: right; text-align: right; display: inline-block; vertical-align: middle; }
.header_right li { display: inline-block; height: 3.6rem; padding: .7rem 2rem; border-left: 1px solid #fff; vertical-align: middle; }
.header_right li a { display: block; padding: 0 .6rem; }
.header_right .icon { font-size: 2.2rem; }
.header li.header_lang { font-size: 1.5rem; text-transform: uppercase; color: #ccc; }
.header li.header_lang.isOpened .ic_arrow { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.header li.header_lang .ttl { padding: .2rem 1rem; -webkit-transition: all 0.3s; transition: all 0.3s; }
.header li.header_lang .ttl:hover { color: #e74c3c; }
.header li.header_lang .box { top: 80%; left: .3rem; width: 80%; padding: 1rem .5rem; background-color: #202020; text-align: center; }
.header li.header_lang .box a { padding: 0; margin: .4rem 0; }
.header li.header_lang .ic_arrow { margin-left: .3rem; position: relative; top: -1px; color: #e74c3c; font-size: .7rem; }
.header_search { position: relative; top: .9rem; width: 100%; max-width: 34rem; float: right; }
.header_search .input { height: 3.2rem; padding-right: 4rem; margin-bottom: 0; font-size: 1.5rem; }
.header_search .input::-webkit-input-placeholder { color: #9c9c9c; }
.header_search .input:-moz-placeholder { color: #9c9c9c; }
.header_search .input::-moz-placeholder { color: #9c9c9c; }
.header_search .input:-ms-input-placeholder { color: #9c9c9c; }
.header_search .input::placeholder { color: #9c9c9c; }
.header_search button { position: absolute; top: 0; right: 0; bottom: 0; width: 4rem; border: 0; font-size: 1.8rem; background-color: transparent; }

.nav_btns { display: none; }
.nav_btns li { display: inline-block; height: 3.6rem; padding: .7rem 1.4rem; border-left: 1px solid #1e1e1e; vertical-align: middle; }
.nav_btns li:first-child { border: 0; }
.nav_btns li a { display: block; padding: 0 .6rem; }
.nav_btns li.header_lang { color: #1e1e1e; }
.nav_btns li.header_lang .box { background-color: #fff; -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); }
.nav_btns .icon { font-size: 2.2rem; }

.dark_overlay.nav-opened:after { content: ""; display: block; width: 100%; height: 100vh; background: #000; opacity: .8; position: fixed; top: 0; left: 0; z-index: 2; }

.navigation.nav-opened { left: 0; margin: 0 !important; box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

/*MOBILE NAVIGATION BUTTON START*/
.navigation_btn { display: none; position: relative; float: left; padding: .8rem 0 .8rem; margin: .7rem 1rem 0 0; cursor: pointer; -webkit-transition: all 0.3s; transition: all 0.3s; }
.navigation_btn p { margin-top: 1.1rem; text-align: center; }
.navigation_btn span { position: relative; display: block; width: 4rem; height: .5rem; background-color: #e74c3c; }
.navigation_btn span:before, .navigation_btn span:after { content: ''; position: absolute; top: .9rem; left: 0; width: 4rem; height: .5rem; background-color: #e74c3c; -webkit-transition: all .3s; transition: all .3s; }
.navigation_btn span:before { top: -0.9rem; }
.navigation_btn.isOpen span { background: none; }
.navigation_btn.isOpen span:before, .navigation_btn.isOpen span:after { width: 3rem; top: 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); margin-left: .5rem; }
.navigation_btn.isOpen span:after { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

/*MOBILE NAVIGATION BUTTON END*/
/*NAVIGATION START*/
.navigation ul li { display: inline-block; }
.navigation ul li a { position: relative; display: inline-block; padding: 1.7rem 0 1.5rem; color: #1e1e1e; font-size: 1.5rem; text-transform: uppercase; }
.navigation ul li a:before { content: ''; position: absolute; left: 50%; bottom: -1px; width: 0; height: 3px; background-color: #e74c3c; -webkit-transition: all .3s; transition: all .3s; }
.navigation ul li a:hover { color: #e74c3c; }
.navigation ul li a:hover:before { left: 0; width: 100%; }
.navigation ul li + li { margin-left: 5rem; }
.navigation ul li.active > a { color: #e74c3c; }
.navigation ul li.active > a:before { left: 0; width: 100%; }

/*NAVIGATION END*/
.navigation .dropDown { position: relative; -webkit-transition: all 0.3s; transition: all 0.3s; }
.navigation .dropDown .ic_arrow { margin: 0 2px 0 4px; font-size: .7rem; }
.navigation .dropDown .ic_arrow:before { border-width: 0 1px 1px 0; }
.navigation .dropDown:hover > a { color: #e74c3c; }
.navigation .dropDown:hover > a:before { left: 0; width: 100%; }
.navigation .dropDown:hover .ic_arrow { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.navigation .dropDown:hover .ic_arrow:before { color: #e74c3c; }
.navigation .dropDown:hover .navigation_dropDown { opacity: 1; visibility: visible; }

.navigation .navigation_dropDown { opacity: 0; visibility: hidden; position: absolute; top: 100%; left: 0; padding: 1rem 0; list-style: none; background-color: #fff; -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; z-index: 3; }
.navigation .navigation_dropDown li { display: block; padding: 0; font-size: 1.6rem; color: #fff; text-transform: none; margin-left: 0; }
.navigation .navigation_dropDown li a { display: block; padding: .6rem 2rem; color: #5e5e5e; white-space: nowrap; }
.navigation .navigation_dropDown li a:hover { color: #e74c3c; }
.navigation .navigation_dropDown li a:before { display: none; }

@media only screen and (min-width: 769px) { .dropDown:focus .navigation_dropDown, .dropDown:hover .navigation_dropDown { display: block !important; } }
.footer { padding: 5rem 0 0; color: #fff; }
.footer .hh { margin-bottom: 1.8rem; font: 700 1.7rem Roboto; letter-spacing: .025em; text-transform: uppercase; }
.footer_logo { display: inline-block; }
.footer p { margin-top: 1.8rem; font: 300 1.4rem Roboto; letter-spacing: .025em; }
.footer_content { font-size: 0; }
.footer_content .column { display: inline-block; padding-right: 2rem; margin-bottom: 2rem; font-size: 1.6rem; vertical-align: top; }
.footer_content .column.cl1 { width: 29%; }
.footer_content .column.cl2 { width: 22%; }
.footer_content .column.cl3 { width: 24%; }
.footer_content .column.cl4 { width: 25%; padding-right: 0; }
.footer_nav li a { font-size: 1.4rem; letter-spacing: .025em; }
.footer_nav li + li { margin-top: 1.2rem; }
.footer_nav li.active a { color: #e74c3c; }
.footer_nav li.active .underscore:before { left: 0; width: 100%; }
.footer_copy { padding: 3rem 0 2.4rem; font: 300 1.2rem Roboto; color: #b5b5b5; text-align: center; }

.btn_up { display: none; position: absolute; right: 0; bottom: 0; width: 4.2rem; height: 4.2rem; color: rgba(255, 255, 255, 0.7); background-color: #e74c3c; opacity: .5; cursor: pointer; }
.btn_up_wrap { position: fixed; bottom: 1rem; width: 100%; max-width: 117rem; z-index: 2; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
.btn_up:before { content: ''; position: absolute; width: 0; height: 46%; border-left: 2px solid; position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: auto; }
.btn_up:after { content: ''; position: absolute; width: 30%; height: 30%; border: 0 solid; border-width: 2px 0 0 2px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: 30% auto auto auto; }
.btn_up:hover { opacity: 1; }

.main_adb { position: relative; display: table; width: 100%; min-height: 100vh; color: #fff; }
.main_adb_content { display: table-cell; padding: 2rem 0; text-align: center; vertical-align: middle; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main_adb_content .hh { margin-bottom: 2rem; font: 700 6rem Roboto; letter-spacing: .025em; text-transform: uppercase; }
.main_adb_content .pp { margin-bottom: 3rem; font: 300 2.4rem Roboto; letter-spacing: .025em; }
.main_adb_content .button { margin: .7rem; color: #fff; border-color: #fff; }
.main_adb_content .button .ic_dir_arrow { margin-left: .5rem; color: #e74c3c; -webkit-transition: all 0.3s; transition: all 0.3s; }
.main_adb_content .button:hover { border-color: #e74c3c; }
.main_adb_content .button:hover .ic_dir_arrow { color: #fff; }
.main_adb .posTop { background-color: #481713; opacity: .65; }

.catalog { padding: 10rem 0; }
.catalog_items { font-size: 0; }
.catalog_item { position: relative; display: inline-block; width: 32.33333%; margin-left: 1.5%; font-size: 1.6rem; vertical-align: top; overflow: hidden; }
.catalog_item:nth-child(3n+1) { margin-left: 0; }
.catalog_item:before { content: ''; display: block; padding-top: 100%; }
.catalog_item:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #e74c3c; opacity: 0; -webkit-transition: all 0.3s; transition: all 0.3s; }
.catalog_item .img { position: absolute; top: 0; left: 0; right: 0; display: block; height: 80%; padding-top: 100%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.catalog_item .hh { position: relative; padding: 2rem 1.5rem 2.4rem; font: 700 2.4rem Roboto; letter-spacing: .025em; color: #1e1e1e; text-transform: uppercase; background-color: #fff; -webkit-transition: all 0.3s; transition: all 0.3s; z-index: 1; }
.catalog_item .hh:before { content: ''; position: absolute; left: 2rem; bottom: 0; display: block; width: 4.8rem; height: 0.3rem; background-color: #e74c3c; -webkit-transition: all 0.3s; transition: all 0.3s; }
.catalog_item:hover { -webkit-box-shadow: 0 0 1.69rem 0.11rem rgba(0, 0, 0, 0.19); -moz-box-shadow: 0 0 1.69rem 0.11rem rgba(0, 0, 0, 0.19); box-shadow: 0 0 1.69rem 0.11rem rgba(0, 0, 0, 0.19); }
.catalog_item:hover:after { opacity: .6; }
.catalog_item:hover .img { height: 100%; }
.catalog_item:hover .hh { color: #fff; background-color: transparent; }
.catalog_item:hover .hh:before { background-color: #fff; }

.main_bg { padding: 10rem 0; background-repeat: no-repeat; background-position: center; -webkit-background-size: cover; background-size: cover; }

.b_about { display: table; width: 100%; padding-bottom: 10rem; }
.b_about .column { display: table-cell; width: 50%; vertical-align: middle; }
.b_about .cl1 { padding-right: 2%; }
.b_about .cl2 { padding-left: 2%; }
.b_about p { margin-bottom: 2rem; font: 300 1.5rem/1.67 Roboto; color: #646464; }
.b_about .read_more { font: 700 1.5rem Roboto; color: #636363; text-transform: uppercase; }
.b_about .read_more span { vertical-align: middle; }
.b_about .read_more .ic_dir_arrow { color: #e74c3c; margin-left: .2rem; }
.b_about .read_more:hover { color: #e74c3c; }

.forwhom:before { content: ''; display: table; clear: both; }
.forwhom .column { width: 48%; }
.forwhom .cl1 { float: right; }
.forwhom .cl2 { padding-top: 8rem; float: left; }
.forwhom .pp { min-height: 9rem; margin-bottom: 1rem; }
.forwhom p { margin-bottom: 1.4rem; font: 300 1.5rem/1.67 Roboto; color: #646464; }
.forwhom_items:before { content: ''; display: table; clear: both; }
.forwhom_item { float: left; width: 31.3333%; height: 14.7rem; padding: 2.6rem 1.5rem 0; margin: 1%; color: #1e1e1e; border: 1px solid #ecf0f1; text-align: center; }
.forwhom_item .icon { font-size: 3.6rem; }
.forwhom_item span { display: block; padding-top: 1.2rem; font: 700 1.5rem/1.46 Roboto; }

.gallery { padding: 8rem 0 10rem; }

.special { padding: 6rem 0; color: #fff; }
.special .wrapper { display: table; }
.special .column { display: table-cell; vertical-align: middle; }
.special .cl2 { padding: 4rem 0 0 2rem; width: 42rem; }
.special_content { width: 100%; max-width: 63rem; }
.special .title_, .special .title { color: #fff; }
.special .title_:before, .special .title:before { background-color: #ffa59c; }
.special p { margin-bottom: 2rem; font: 300 1.5rem/1.67 Roboto; letter-spacing: .025em; }

.subscribe { max-width: 63rem; margin: 0 auto; }
.subscribe:after { content: ''; display: table; clear: both; }
.subscribe .input { float: left; max-width: 60%; height: 4.7rem; background-color: transparent; border-color: #f4a7a0; color: #ffe4e1; letter-spacing: .025em; font-size: 1.5rem; }
.subscribe .input::-webkit-input-placeholder { color: #ffe4e1; }
.subscribe .input:-moz-placeholder { color: #ffe4e1; }
.subscribe .input::-moz-placeholder { color: #ffe4e1; }
.subscribe .input:-ms-input-placeholder { color: #ffe4e1; }
.subscribe .input::placeholder { color: #ffe4e1; }
.subscribe .button { float: right; width: 37%; min-width: 0; padding: 1.3rem 0; font: 400 1.5rem Roboto; letter-spacing: .025em; color: #fff; background-color: #0e0e0f; border-color: #0e0e0f; }
.subscribe .button i { color: #e74c3c; margin-left: .4rem; }
.subscribe .button:hover { background-color: #fff; color: #0e0e0f; border-color: #fff; }

.b_contacts { padding: 9rem 0; letter-spacing: .025em; }
.b_contacts .column1 { float: left; width: 64%; max-width: 66rem; }
.b_contacts .column2 { float: right; width: 32%; }
.b_contacts .coln1 { float: left; width: 41%; padding-right: 1.5rem; }
.b_contacts .coln2 { float: right; width: 59%; }
.b_contacts .title_, .b_contacts .title { text-transform: none; }
.b_contacts p { margin-bottom: 1.6em; font: 300 1.5rem/1.67 Roboto; color: #050505; }
.b_contacts .p1 { color: #646464; }
.b_contacts .ic { position: relative; padding-left: 2.2rem; margin-bottom: 0; color: #484848; }
.b_contacts .ic .icon { position: absolute; top: 2px; left: 0; font-size: 2rem; }
.b_contacts .ic .icon-envelope { top: 5px; font-size: 1.7rem; }
.b_contacts .button { font-weight: 400; color: #0e0e0f; border-color: #0e0e0f; }
.b_contacts .button i { color: #e74c3c; }
.b_contacts .button:hover { background-color: #0e0e0f; color: #fff; }

.page_404 { padding: 18rem 0; text-align: center; letter-spacing: .025em; }
.page_404 .hh { font: 700 4rem Roboto; color: #a9a9a9; }
.page_404 p { padding: 2rem 0 3rem; font-size: 1.5rem; color: #484848; }
.page_404 .button { width: 100%; min-width: 0; max-width: 36rem; font-size: 1.8rem; font-weight: 300; background-color: #e74c3c; color: #fff; }
.page_404 .button:hover { background-color: #fff; color: #e74c3c; }

.adb_picture { height: 15rem; padding-top: 36.2%; margin-bottom: 5rem; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }

.adb_pic_wd { min-height: 42.4rem; padding-top: 2rem; margin-bottom: 5rem; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }

.masters { padding-bottom: 10rem; }
.masters_items { font-size: 0; }
.masters_item { position: relative; display: inline-block; width: 32.333%; margin: 1.5% 0 1.5% 1.5%; font-size: 1.6rem; overflow: hidden; vertical-align: top; }
.masters_item:nth-child(3n+1) { margin-left: 0; }
.masters_img { float: left; width: 48%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }
.masters_img:before { content: ''; display: block; padding-top: 108.88%; }
.masters_body { position: absolute; top: 0; right: 0; width: 48%; height: 100%; padding-top: .3rem; }
.masters_body .hh { position: relative; margin-bottom: 1.2rem; font: 700 1.7rem Roboto; letter-spacing: .025em; color: #1e1e1e; text-transform: uppercase; white-space: nowrap; overflow: hidden; }
.masters_body .hh:before { content: ''; position: absolute; top: 0; right: 0; bottom: 0; width: 1.5rem; background-image: -webkit-linear-gradient(left, transparent 0, #fff 100%); background-image: linear-gradient(to right, transparent 0, #fff 100%); }
.masters_body p { font: 400 1.5rem/1.5 Roboto; color: #646464; }
.masters_body .btns_wr { position: absolute; left: 0; right: 0; bottom: 0; padding-top: 1rem; background-color: #fff; }
.masters_body .btns_wr:before { content: ''; position: absolute; left: 0; right: 0; bottom: 100%; height: 1.4rem; background-image: transparent; background-image: -webkit-linear-gradient(top, transparent 0%, #fff 100%); background-image: -moz-linear-gradient(top, transparent 0%, #fff 100%); background-image: -o-linear-gradient(top, transparent 0%, #fff 100%); background-image: linear-gradient(to bottom, transparent 0%, #fff 100%); }
.masters_body .button { width: 100%; min-width: 0; padding: .9rem 0; text-transform: none; font: 400 1.5rem Roboto; letter-spacing: .025em; }
.masters_body .button:last-child { margin-top: 1.2rem; background-color: #e74c3c; color: #fff; }
.masters_body .button:last-child:hover { background-color: #fff; color: #e74c3c; }

.biography { padding: 9rem 0; }
.biography .content { width: 100%; max-width: 98rem; margin: 0 auto; }

.master_works { padding: 9rem 0 6rem; }
.master_works_items { font-size: 0; }
.master_works_item { position: relative; display: inline-block; width: 32.333%; margin: 1.5% 0 1.5% 1.5%; font-size: 1.6rem; vertical-align: top; }
.master_works_item:nth-child(3n+1) { margin-left: 0; }
.master_works_item .img { position: relative; display: block; width: 100%; padding-top: 80.95%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }
.master_works_item .img:before { content: ''; position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: auto; background-color: rgba(30, 30, 30, 0.6); -webkit-transition: all 0.3s; transition: all 0.3s; opacity: 0; }
.master_works_item .more { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font: 400 1.8rem Roboto; color: #fff; text-align: center; text-transform: uppercase; -webkit-transition: all 0.3s; transition: all 0.3s; opacity: 0; }
.master_works_item .more span { display: block; margin-bottom: .4rem; }
.master_works_item .ic_dir_arrow { color: #fff; }
.master_works_item .tt { height: 6rem; margin: .8rem 0; font: 700 2rem/1.5 Roboto; color: #1e1e1e; letter-spacing: .025em; overflow: hidden; -webkit-transition: all 0.3s; transition: all 0.3s; }
.master_works_item .price { float: left; width: 42%; padding-top: .8rem; color: #585858; font: 300 2rem Roboto; }
.master_works_item .button { position: relative; float: right; width: 56%; min-width: 0; max-width: 30rem; padding: .8rem 0; z-index: 2; }
.master_works_item .button .icon { position: relative; top: -2px; margin-left: .6rem; font-size: 1.2em; }
.master_works .link { position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: auto; z-index: 1; }
.master_works .link:hover ~ .tt { color: #e74c3c; }
.master_works .link:hover ~ .img:before { opacity: 1; }
.master_works .link:hover ~ .img .more { opacity: 1; }
.master_works .show_more { padding: 4rem 0; text-align: center; }
.master_works .show_more .button { width: 100%; min-width: 0; max-width: 31.6rem; background-color: #e74c3c; border-width: 2px; color: #fff; }
.master_works .show_more .button:hover { background-color: #fff; color: #e74c3c; }

.master_nav { padding: 1rem 0; margin-bottom: 10rem; border-top: 1px solid #e5e7e9; }
.master_nav span { vertical-align: middle; }
.master_nav a { margin: 1rem 0; font: 700 1.8rem Roboto; color: #1e1e1e; text-transform: uppercase; opacity: .5; }
.master_nav a .ic_dir_arrow { color: #e74c3c; margin: 0 .2rem; }
.master_nav a:hover { opacity: 1; }
.master_nav .prev { float: left; }
.master_nav .prev .ic_dir_arrow { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.master_nav .next { float: right; }

.about { padding-bottom: 8rem; }
.about .content { font-size: 1.5rem; }
.about_desc { margin-bottom: 1.6rem; font: 300 1.8rem/1.38 Roboto; color: #646464; text-align: center; }
.about .double_pic, .about .double_pic_rev { width: 48%; float: left; margin: 0 4% 0 0; }
.about .double_pic_rev { float: right; margin: 0 0 0 4%; }
.about .space { height: 7.2rem; }
.about_1 { padding: 2rem 0; }
.about_1:after { content: ''; display: table; clear: both; }
.about_2 { padding: 2rem 0; }
.about_2:after { content: ''; display: table; clear: both; }
.about_2 .content { float: left; }
.about_3 { padding: 10rem 0 12rem; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; color: #fff; text-align: center; }
.about_3 .wrapper { max-width: 93rem; }
.about_3 p { margin-bottom: 2em; font: 300 1.5rem/1.66 Roboto; }
.about_3 .button { width: 100%; min-width: 0; max-width: 31.6rem; margin-top: 2rem; border: 2px solid #fff; color: #fff; }
.about_3 .button:hover { background-color: #fff; color: #e74c3c; }

.catalog_page { padding-bottom: 12rem; }
.catalog_page .title_, .catalog_page .title { margin-bottom: 4rem; }

.category_nav { padding: 2rem 0; margin-bottom: 2rem; border-bottom: 1px solid  #e5e7e9; text-align: center; }
.category_nav .button { margin: 0 .7rem 2rem; background-color: #e1e1e1; border-color: #e1e1e1; color: #5e5e5e; }
.category_nav .button .ic_dir_arrow { color: #e74c3c; }
.category_nav .button:hover { background-color: #fff; border-color: #e74c3c; color: #e74c3c; }
.category_nav .button.active { background-color: #e74c3c; color: #fff; border-color: #e74c3c; }
.category_nav .button.active .ic_dir_arrow { color: #fff; }
.category_sidebar { float: left; width: 24%; }
.category_sidebar .h3 { margin: 1rem 0 2.7rem; }
.category_content { float: right; width: 76%; padding-bottom: 10rem; }
.category_items { font-size: 0; padding-bottom: 2rem; }
.category_item { position: relative; display: inline-block; width: 31.333%; margin: 0 0 4rem 2%; font-size: 1.6rem; vertical-align: top; text-align: center; background-size: 0 0; }
.category_item:before { content: ''; position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); bottom: 0; display: block; width: 4.8rem; height: 0.3rem; background-color: #e74c3c; }
.category_item:after { content: ''; position: relative; display: block; padding-top: calc(107.5% + 12.6rem); background-color: rgba(30, 30, 30, 0.77); opacity: 0; -webkit-transition: all 0.3s; transition: all 0.3s; }
.category_item .img { position: absolute; top: 0; left: 0; right: 0; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; -webkit-transition: all 0.3s; transition: all 0.3s; }
.category_item .img:before { content: ''; display: block; padding-top: 107.5%; -webkit-transition: all 0.3s; transition: all 0.3s; }
.category_item .hh { position: relative; padding: 0 1rem; margin: 1rem 0; font: 700 2rem/1.5 Roboto; letter-spacing: .025em; color: #1e1e1e; height: 6rem; overflow: hidden; -webkit-transition: all 0.3s; transition: all 0.3s; }
.category_item .hh span { display: table-cell; width: 50rem; vertical-align: middle; height: 6rem; }
.category_item:hover .img:before { padding-top: calc(107.5% + 12.6rem); }
.category_item:hover:after { opacity: 1; }
.category_item:hover .category_info { margin-top: 2rem; }
.category_item:hover .hh { color: #fff; }
.category_item:hover .currency span { color: #fff; }
.category_item:hover .category_btns { opacity: 1; visibility: visible; -webkit-transition: all 0.3s; transition: all 0.3s; height: auto; }
.category_info { position: absolute; top: 0; left: 0; right: 0; margin-top: 107.5%; z-index: 1; -webkit-transition: all 0.3s; transition: all 0.3s; }
.category_btns { opacity: 0; visibility: hidden; height: 0; overflow: hidden; position: absolute; top: 100%; left: 0; right: 0; padding: 14% 1.5rem 0; text-align: center; }
.category_btns .button { width: 100%; max-width: 21.2rem; min-width: 0; padding: .8rem 0; font-weight: 400; }
.category_btns .button .icon { position: relative; top: -2px; margin-left: .6rem; font-size: 1.2em; }
.category_btns .button:last-child { margin-top: 1.4rem; color: #fff; border-color: #fff; }
.category_btns .button:last-child:hover { background-color: #fff; color: #e74c3c; }

.filterWrap { margin-bottom: 1px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; letter-spacing: .025em; }
.filterHead { position: relative; padding: 1.1rem 3rem 1.1rem 1.4rem; font: 400 1.5rem Roboto; color: #1e1e1e; border: 1px solid #e5e7e9; cursor: pointer; }
.filterHead:before { content: ''; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 1.6rem; border-left: 6px solid #1e1e1e; border-top: 5px solid transparent; border-bottom: 5px solid transparent; -webkit-transition: all 0.3s; transition: all 0.3s; }
.filterHead:after { content: ''; position: absolute; left: 50%; bottom: 0; width: 0; height: 3px; background-color: #e74c3c; -webkit-transition: all 0.3s; transition: all 0.3s; }
.filterBody { padding: 1.2rem 1.4rem; border: 0 solid #e5e7e9; border-width: 0 1px 1px 1px; font-size: 1.4rem; color: #5e5e5e; }
.filterBody li { padding: 4px 0 5px; }
.filterWrap.isOpened .filterHead:before { -webkit-transform: rotate(90deg) translate(-50%, 0); -ms-transform: rotate(90deg) translate(-50%, 0); transform: rotate(90deg) translate(-50%, 0); border-left-color: #e74c3c; }
.filterWrap:not(.isOpened) .filterHead:hover { border-color: transparent; }
.filterWrap:not(.isOpened) .filterHead:hover:before { border-left-color: #e74c3c; }
.filterWrap:not(.isOpened) .filterHead:hover:after { left: 0; width: 100%; }
.filterSlider { padding: 3.2rem 1.4rem 2.8rem; }
.filterSlider .ui-widget.ui-widget-content { height: 5px; margin-bottom: 12px; background-color: rgba(231, 76, 60, 0.3); border: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.filterSlider .ui-slider-range { background-color: #e74c3c; }
.filterSlider .ui-slider-handle { top: -3px; width: 11px; height: 11px; margin-left: -3px; background-color: #e74c3c; border: 0; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; cursor: pointer; }
.filterSlider input { font: 300 1.4rem Roboto; letter-spacing: .025em; color: #1e1e1e; }
.filterSlider .from { float: left; width: 50%; }
.filterSlider .to { float: right; width: 50%; text-align: right; }

.currency { display: inline-block; font: 300 2rem Roboto; color: #585858; }
.currency span { vertical-align: middle; }
.currency_btn { position: relative; top: .3rem; display: inline-block; width: 2rem; height: 2rem; margin-left: .6rem; vertical-align: middle; }
.currency_btn:before { content: ''; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: inline-block; border-top: 7px solid #585858; border-left: 6px solid transparent; border-right: 6px solid transparent; }
.currency_box { left: auto; right: 0; width: 7.6rem; padding: 1rem 0; background-color: #fff; box-shadow: 0 0.2rem 0.48rem 0.03rem rgba(28, 24, 27, 0.49); }
.currency_box .cur_item { -webkit-transition: all 0.3s; transition: all 0.3s; padding: .5rem 0; text-align: center; cursor: pointer; }
.currency_box .cur_item:hover { background-color: #e74c3c; color: #fff; }

.product { padding: 10rem 0; background-color: #f6f6f6; }
.product_picture { position: relative; float: left; width: 48%; max-width: 58rem; margin: 0 auto; background: url(../img/product_border.jpg) center no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; }
.product_picture:before { content: ''; display: block; padding-top: 80.54%; }
.product_picture .img { position: absolute; top: 17%; bottom: 17.8%; left: 14.7%; right: 14.4%; display: block; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }
.product_info { padding: 1rem 0; float: right; width: 48%; }
.product_info .title_, .product_info .title { margin-bottom: 3rem; font-weight: 400; }
.product_info .currency { margin-bottom: 2.4rem; }
.product_info .currency span { font: 400 2.5rem Roboto; color: #1e1e1e; }
.product_info .pp { margin-bottom: 1.2rem; font: 300 1.6rem Roboto; color: #4b4b4b; }
.product_info .social { color: #9c9c9c; }
.product_info .button { width: 100%; min-width: 0; max-width: 31.5rem; margin: 2rem 0 3rem; border-width: 2px; }

.reviewed { padding: 9rem 0; }
.reviewed .title_, .reviewed .title { margin-bottom: 4rem; }
.reviewed_items { font-size: 0; }
.reviewed_item { position: relative; padding: 0 0 2rem; font-size: 1.6rem; display: inline-block; width: 23.875%; margin: 0 0 3rem 1.5%; text-align: center; }
.reviewed_item:nth-child(4n+1) { margin-left: 0; }
.reviewed_item:before { content: ''; position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); bottom: 0; display: block; width: 4.8rem; height: 0.3rem; background-color: #e74c3c; }
.reviewed_item .img { padding-top: 107.5%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }
.reviewed_item .hh { position: relative; margin: 1rem 0; font: 700 2rem/1.5 Roboto; color: #1e1e1e; height: 8rem; overflow: hidden; -webkit-transition: all 0.3s; transition: all 0.3s; }
.reviewed_item .hh:before { content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 2rem; background-image: transparent; background-image: -webkit-linear-gradient(top, transparent 0%, #fff 100%); background-image: -moz-linear-gradient(top, transparent 0%, #fff 100%); background-image: -o-linear-gradient(top, transparent 0%, #fff 100%); background-image: linear-gradient(to bottom, transparent 0%, #fff 100%); }
.reviewed_item .hh span { display: table-cell; width: 50rem; vertical-align: middle; height: 8rem; }
.reviewed_item .price { font: 300 2rem Roboto; color: #585858; }
.reviewed_item:hover .hh { color: #e74c3c; }

/* ==== style select start ==== */
.filter_sort_by { float: right; height: 4.6rem; }

select.filter_sort_by { max-width: 27.9rem; width: 100%; }

.jq-selectbox { width: 100%; max-width: 27.9rem; margin-bottom: 2rem; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.jq-selectbox.opened { -webkit-box-shadow: 0 0 0.87rem 0.03rem rgba(0, 0, 0, 0.19); -moz-box-shadow: 0 0 0.87rem 0.03rem rgba(0, 0, 0, 0.19); box-shadow: 0 0 0.87rem 0.03rem rgba(0, 0, 0, 0.19); }
.jq-selectbox.opened .jq-selectbox__select { color: #1e1e1e; border-color: transparent; }
.jq-selectbox.opened .jq-selectbox__select:before { -webkit-transform: rotate(90deg) translate(-50%, 0); -ms-transform: rotate(90deg) translate(-50%, 0); transform: rotate(90deg) translate(-50%, 0); border-left-color: #e74c3c; }
.jq-selectbox__select { position: relative; padding: 1.3rem 3rem 1.3rem 1.4rem; font: 700 1.5rem Roboto; color: #9c9c9c; border: 1px solid #e5e7e9; background-color: #fff; cursor: pointer; z-index: 1; }
.jq-selectbox__select:before { content: ''; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 1.6rem; border-left: 6px solid #1e1e1e; border-top: 5px solid transparent; border-bottom: 5px solid transparent; }
.jq-selectbox__select:hover { color: #1e1e1e; }
.jq-selectbox__select:hover:before { border-left-color: #e74c3c; }
.jq-selectbox__dropdown { width: 100%; padding: 1rem 1.4rem; margin-top: 1px; border-top: 1px solid #e5e7e9; background-color: #fff; -webkit-box-shadow: 0 0 0.87rem 0.03rem rgba(0, 0, 0, 0.19); -moz-box-shadow: 0 0 0.87rem 0.03rem rgba(0, 0, 0, 0.19); box-shadow: 0 0 0.87rem 0.03rem rgba(0, 0, 0, 0.19); }
.jq-selectbox li { padding: 4px 0 5px; font-size: 1.4rem; letter-spacing: .025em; color: #5e5e5e; cursor: pointer; -webkit-transition: all 0.3s; transition: all 0.3s; }
.jq-selectbox li:hover { color: #e74c3c; }

/* ==== style select end ==== */
.blog { padding: 4rem 0 10rem; }
.blog_top { padding: 2rem 0; text-align: center; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }
.blog_nav { padding: 1rem 0; }
.blog_nav .button { min-width: 0; padding: .7rem 2rem; margin: 1rem 2rem 1rem 0; font: 700 1.8rem Roboto; color: #5e5e5e; background-color: #e1e1e1; border-color: #e1e1e1; text-transform: none; }
.blog_nav .button:hover { background-color: #fff; color: #e74c3c; border-color: #e74c3c; }
.blog_nav .button.active { background-color: #e74c3c; color: #fff; border-color: #e74c3c; }
.blog_items { padding: 4rem 0; }
.blog_item { display: table; width: 100%; margin-bottom: 3rem; }
.blog_pic { display: table-cell; width: 28rem; vertical-align: top; }
.blog_pic .img { display: block; max-width: 27rem; margin: 4px; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; -webkit-box-shadow: 0 0 0 1px #c4c4c4, 0 0 0 2px #fff, 0 0 0 4px #959595; -moz-box-shadow: 0 0 0 1px #c4c4c4, 0 0 0 2px #fff, 0 0 0 4px #959595; box-shadow: 0 0 0 1px #c4c4c4, 0 0 0 2px #fff, 0 0 0 4px #959595; border: 1px solid #fff; overflow: hidden; }
.blog_pic .img i { display: block; width: 100%; padding-top: 70.6%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; -webkit-transition: all 0.3s; transition: all 0.3s; }
.blog_pic .img:hover i { -webkit-transform: scale(1.1) rotate(4deg); -ms-transform: scale(1.1) rotate(4deg); transform: scale(1.1) rotate(4deg); }
.blog_content { display: table-cell; padding: 2rem 0 0 2.5%; vertical-align: top; }
.blog_content .h3 { margin-bottom: .7em; font: 400 2.4rem Roboto; letter-spacing: 0; color: #4b4b4b; text-transform: uppercase; }
.blog_content p { margin-bottom: .8em; font: 300 1.6rem/1.625 Roboto; letter-spacing: .025em; color: #4b4b4b; }
.blog_content .more { font-size: 1.6rem; color: #e74c3c; letter-spacing: .05em; }
.blog_content i { margin-left: .5rem; }

.article { padding: 5rem 0 12rem; }
.article .wrapper { max-width: 100rem; }
.article_top { padding: .5rem 0; color: #fff; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; text-align: center; }
.article_info { display: table; padding: 1.5rem 0; margin: 0 auto; }
.article_info .tcell { font: 700 1.2rem Roboto; }
.article_info .tcell:nth-child(2) { width: 19rem; }
.article_info span { vertical-align: middle; }
.article_info .icon { margin-right: .5em; }
.article_tt { display: table; width: 100%; height: 22rem; padding: 2rem 0; }
.article_tt .ttl { display: table-cell; font: 700 4rem Roboto; letter-spacing: .025em; vertical-align: middle; }
.article_tt .ttl span { position: relative; display: inline-block; padding-bottom: .4em; }
.article_tt .ttl span:before { content: ''; position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); bottom: 0; display: block; width: 4.8rem; height: 0.2rem; background-color: #acacac; }
.article .content { padding-bottom: 5rem; }

.contacts { padding: 6rem 0 12rem; }
.contacts_top { max-height: 40rem; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; overflow: hidden; }
.contacts_top:before { height: 20rem; content: ''; display: block; padding-top: 33%; }
.contacts_info { float: left; width: 52%; }
.contacts_form { float: right; width: 46%; }
.contacts .feedback { margin: 0 0 0 auto; }
.contacts .title_, .contacts .title { color: #0e0e0f; letter-spacing: 0; text-transform: none; }
.contacts .h4 { margin-bottom: .7rem; color: #272727; }
.contacts p { margin-bottom: 2rem; font: 400 1.5rem/1.67 Roboto; color: #484848; }
.contacts .p1 { color: #646464; font-weight: 300; }
.contacts .ic { position: relative; padding-left: 2.2rem; }
.contacts .ic .icon { position: absolute; top: .4rem; left: 0; }
.contacts .ic .icon-phone { font-size: 1.2em; top: .2rem; }
.contacts .ic .icon-location { font-size: 1.2em; top: .2rem; }

.feedback { width: 100%; max-width: 36rem; margin: 0 auto; }
.feedback .button { width: 100%; min-width: 0; background-color: #e74c3c; font: 300 1.8rem Roboto; color: #fff; }
.feedback .button:hover { background-color: #fff; color: #e74c3c; border-color: #e74c3c; }

.b_subscribe { padding-bottom: 11rem; text-align: center; }
.b_subscribe .wrapper { max-width: 74rem; }
.b_subscribe .title { color: #464646; }
.b_subscribe p { padding: 1rem 0 3rem; font: 300 1.5rem/1.67 Roboto; color: #575757; }
.b_subscribe .subscribe .input { color: #616161; }
.b_subscribe .subscribe .input::-webkit-input-placeholder { color: #616161; }
.b_subscribe .subscribe .input:-moz-placeholder { color: #616161; }
.b_subscribe .subscribe .input::-moz-placeholder { color: #616161; }
.b_subscribe .subscribe .input:-ms-input-placeholder { color: #616161; }
.b_subscribe .subscribe .input::placeholder { color: #616161; }
.b_subscribe .subscribe .button:hover { border-color: #202020; }

.buy { padding: 8rem 0 14rem; }
.buy .wrapper { max-width: 106rem; }
.buy_item { padding-bottom: 6rem; margin-bottom: 6rem; border-bottom: 3px solid #fadedb; }
.buy_item:last-child { border: 0; margin-bottom: 0; padding-bottom: 0; }
.buy_ico { position: absolute; top: .6rem; right: 0; width: 8rem; height: 8rem; background-color: #e75849; text-align: center; color: #fff; font-size: 5rem; line-height: 1; }
.buy_ico:before { content: ''; display: inline-block; vertical-align: middle; height: 100%; }
.buy_ico .icon-truck { font-size: 5.6rem; }
.buy_inn { position: relative; width: 100%; max-width: 96rem; padding: 0 10rem; margin: 0 auto; }
.buy .title_, .buy .title { margin-bottom: 3rem; color: #0e0e0f; text-transform: none; }
.buy ul li { position: relative; padding-left: 1.8rem; }
.buy ul li:before { content: ''; position: absolute; top: .7rem; left: 0; display: block; width: 0.6rem; height: 0.6rem; background-color: #e75849; }
.buy li, .buy p { margin-bottom: 2rem; font: 1.5rem/1.46 Roboto; color: #646464; }
.buy li:last-child, .buy p:last-child { margin-bottom: 0; }

.cart { padding: 10rem 0; }
.cart .title_, .cart .title { float: left; }
.cart .title_ span, .cart .title span { font-weight: 400; }
.cart .btn_2, .cart .btn_3 { vertical-align: middle; background-color: #e74c3c; color: #fff; }
.cart .btn_2:hover, .cart .btn_3:hover { background-color: #fff; color: #e74c3c; }
.cart .btn_2 { float: right; }
.cart .full_price { display: inline-block; margin: .8rem 4rem .8rem 0; font-size: 2rem; letter-spacing: .025em; color: #111; vertical-align: middle; }
.cart .cart_bottom { margin-top: 4rem; text-align: right; }

.table_product { margin-top: 2rem; width: 100%; }
.table_product th { padding: .5rem 1rem; font: 1.5rem Roboto; color: #1e1e1e; border-bottom: 3px solid #9c9c9c; text-transform: uppercase; }
.table_product td { padding: 5.6rem 1rem 2rem; vertical-align: top; border-bottom: 1px solid #e5e7e9; text-align: center; }
.table_product .tt { font: 700 1.5rem/1.67 Roboto; letter-spacing: .025em; margin-bottom: .4rem; text-transform: uppercase; }
.table_product .img { display: block; width: 100%; max-width: 28rem; margin: 0 auto; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }
.table_product .img:before { content: ''; display: block; padding-top: 54.5%; }
.table_product p { font-size: 1.5rem; letter-spacing: .025em; color: #1e1e1e; }
.table_product .price { font: 300 1.5rem Roboto; color: #585858; }
.table_product tbody tr:hover { box-shadow: 0 0 0.87rem 0.03rem rgba(0, 0, 0, 0.19); }
.table_product tbody tr:hover .btn_del_cart { opacity: 1; }
.table_product .btn_del_cart { margin-top: 2rem; }

.table_product td.td_product { padding: 0; width: 55%; text-align: left; }
.table_product td.td_product a { display: table; width: 100%; }
.table_product td.td_product a .item { padding: 3rem 0 3rem 3rem; display: table-cell; vertical-align: top; width: 50%; }
.table_product td.td_product a .item:last-child { padding-top: 5.2rem; }

.total_price { font-size: 2rem; color: #111; }

.btn_follow_prod, .btn_del_cart { display: inline-block; margin-top: .5rem; padding-bottom: .2rem; font: 400 1.5rem Roboto; letter-spacing: .025em; color: #e74c3c; background-color: transparent; border: 0; }

.dashboard { padding: 10rem 0 12rem; }
.dashboard_head { padding-bottom: 3rem; margin-bottom: 4rem; border-bottom: 1px solid #e5e7e9; text-align: center; }
.dashboard_head .button { width: 100%; min-width: 0; max-width: 23.3rem; margin: 1rem .7rem; color: #5e5e5e; background-color: #e1e1e1; border-color: #e1e1e1; }
.dashboard_head .button .ic_dir_arrow { color: #e74c3c; }
.dashboard_head .button:hover { background-color: #fff; color: #e74c3c; border-color: #e74c3c; }
.dashboard_head .button.active { background-color: #e74c3c; color: #fff; border-color: #e74c3c; }
.dashboard_head .button.active .ic_dir_arrow { color: #fff; }
.dashboard_form { width: 100%; max-width: 48rem; margin: 0 auto; }
.dashboard_form .labels { margin-bottom: 2px; color: #1e1e1e; }
.dashboard_form .btn_1 { width: 100%; max-width: 27.9rem; min-width: 0; background-color: #e74c3c; color: #fff; }
.dashboard_form .btn_1:hover { background-color: #fff; color: #e74c3c; }

.no_orders { text-align: center; }
.no_orders p { font: 400 2.4rem Roboto; color: #1e1e1e; margin-bottom: 2.4rem; }

.soc_accounts { padding: 3rem 0 2rem; }
.soc_accounts p { margin-bottom: 2px; font: 1.8rem/1.38 Roboto; color: #1e1e1e; letter-spacing: .025em; }
.soc_accounts .button { min-width: 13.5rem; margin: 0 .6rem 1rem 0; background-color: #5e5e5e; border-color: #5e5e5e; color: #fff; font-size: 1.8rem; text-transform: none; }
.soc_accounts .button:hover { background-color: #e74c3c; border-color: #e74c3c; }

.search_result { padding: 4rem 0 10rem; }
.search_result_top { position: relative; padding: 1.4rem 0; margin-bottom: 4rem; font-size: 2rem; color: #1e1e1e; }
.search_result_top strong { margin-left: 2.6rem; }
.search_result_top:before { content: ''; position: absolute; left: 0; bottom: 0; width: 4.8rem; height: 0.2rem; background-color: #e74c3c; }
.search_result_items { font-size: 0; }
.search_result_item { display: inline-block; width: 23.875%; margin: 0 0 4rem 1.5%; font-size: 1.6rem; vertical-align: top; text-align: center; }
.search_result_item:nth-child(4n+1) { margin-left: 0; }
.search_result_item .img { padding-top: 107.5%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }
.search_result_item .hh { padding-top: .5rem; font: 700 2rem/1.5 Roboto; letter-spacing: .025em; color: #1e1e1e; -webkit-transition: all 0.3s; transition: all 0.3s; }
.search_result_item:hover .hh { color: #e74c3c; }

/*MEDIA*/
@media only screen and (max-width: 1200px) { .forwhom_item span { font-size: 1.4rem; }
  .masters_item { width: 48.5%; margin: 1.5% 0 1.5% 3%; }
  .masters_item:nth-child(3n+1) { margin: 1.5% 0 1.5% 3%; }
  .masters_item:nth-child(odd) { margin-left: 0; }
  .masters_img { width: 47.2%; }
  .masters_body { width: 47.2%; }
  .master_works_item .tt { height: 5.6rem; font-size: 1.8rem; }
  .master_works_item .price { font-size: 1.8rem; }
  .product_info .title_, .product_info .title { font-size: 2.4rem; }
  .product_info .currency span { font-size: 2.3rem; }
  .adb_pic_wd { height: 35.3vw; min-height: 20rem; } }
@media only screen and (max-width: 992px) { html { font-size: 62.5%; }
  .navigation ul li + li { margin-left: 2rem; }
  .header_search { max-width: 28rem; }
  .main_adb_content .hh { font-size: 4.8rem; }
  .catalog_item .hh { padding: 1.2rem 1rem; }
  .catalog { padding: 3rem 0; }
  .main_bg { padding: 3rem 0; }
  .b_about { padding-bottom: 4rem; }
  .gallery { padding: 3rem 0; }
  .special { padding: 3rem 0; }
  .b_contacts { padding: 3rem 0; }
  .footer { padding-top: 3rem; }
  .footer_copy { padding: 1rem 0; }
  .page_404 { padding: 3rem 0; }
  .masters { padding-bottom: 3rem; }
  .biography { padding: 3rem 0; }
  .master_works { padding: 3rem 0 0; }
  .master_nav { margin-bottom: 0; }
  .forwhom_item { width: 100%; height: auto; padding: 1.2rem; text-align: left; }
  .forwhom_item span { display: inline-block; }
  .forwhom .pp { min-height: 4rem; }
  .forwhom .cl2 { padding-top: 2rem; }
  .special .subscribe .input { max-width: 52%; }
  .special .subscribe .button { width: 45%; }
  .masters_body .hh { font-size: 1.5rem; letter-spacing: 0; }
  .masters_body p { font: 1.4rem/1.3 Roboto; }
  .master_works_item { width: 48.5%; margin: 3% 0 3% 3%; }
  .master_works_item:nth-child(3n+1) { margin-left: 3%; }
  .master_works_item:nth-child(odd) { margin-left: 0; }
  .about { padding-bottom: 4rem; }
  .about_3 { padding: 4rem 0 6rem; }
  .product { padding: 4rem 0; }
  .product_info .title_, .product_info .title { margin-bottom: 2rem; font-size: 2rem; }
  .product_info .currency { margin-bottom: 1.4rem; }
  .product_info .pp { margin-bottom: .6rem; }
  .product_info .button { margin: 1rem 0 1.6rem; }
  .reviewed { padding: 4rem 0 6rem; }
  .reviewed_item .hh { height: 7.2rem; font-size: 1.7rem; }
  .reviewed_item .hh span { height: 7.2rem; }
  .reviewed_item .price { font-size: 1.8rem; }
  .category_item { width: 47%; margin-left: 3%; }
  .blog { padding-bottom: 4rem; }
  .blog_items { padding-bottom: 0; }
  .blog_content { padding-top: .5rem; }
  .blog_content .h3 { font-size: 2rem; }
  .contacts { padding: 4rem 0 6rem; }
  .b_subscribe { padding-bottom: 6rem; }
  .buy { padding: 6rem 0 8rem; }
  .search_result { padding-bottom: 6rem; }
  .search_result_item .hh { font-size: 1.7rem; line-height: 1.35; letter-spacing: 0; }
  .table_product td.td_product a .item { padding: 2rem 0 1.5rem 1.5rem; }
  .table_product td.td_product a .item:last-child { padding-top: 2.4rem; }
  .table_product td { padding-top: 2.8rem; }
  .cart { padding: 6rem 0; }
  .dashboard { padding: 4rem 0 6rem; } }
@media only screen and (max-width: 850px) { .special .subscribe .input { max-width: 100%; }
  .special .subscribe .button { width: 100%; }
  .footer_content .column.cl1 { width: 31%; }
  .footer_content .column.cl2 { width: 20%; }
  .category_sidebar { width: 100%; margin-bottom: 2rem; }
  .category_content { width: 100%; }
  .filter_sort_by { max-width: 100%; }
  .category_item { width: 48.5%; margin-left: 3%; }
  .category_item:nth-child(odd) { margin-left: 0; }
  .article { padding-bottom: 6rem; } }
@media only screen and (max-width: 768px) { html { font-size: 62.5%; }
  .content img[style*="float"] { max-width: 50%; }
  .title_, .title { font-size: 2.6rem; }
  /*MOBILE NAVIGATION START*/
  .navigation { text-align: center; position: fixed; top: 0; left: -36rem; height: 100vh; max-width: 36rem; width: 100%; -webkit-transition: all 0.3s; transition: all 0.3s; background-color: #fff; z-index: 5; padding: 5rem 2rem 2rem; margin: 0 !important; overflow-y: auto; }
  .navigation ul li { display: block; }
  .navigation ul li + li { margin-left: 0; }
  .navigation ul li a { display: block; padding: .6rem 0; font-size: 1.8rem; }
  .navigation ul li a:before { display: none; }
  .navigation_btn { display: block; z-index: 6; }
  /*MOBILE NAVIGATION END*/
  .navigation .dropDown > a { margin-left: 1.8rem; }
  .navigation .navigation_dropDown { position: relative; opacity: 1; visibility: visible; display: none; padding: 0; -webkit-transition: none; transition: none; background-color: transparent; }
  .navigation .navigation_dropDown li { padding: 0; }
  .navigation .navigation_dropDown li a { display: inline-block; font-size: 1.7rem; }
  .header { border: 0; }
  .header_search { float: none; max-width: 100%; margin-bottom: 1.4rem; }
  .header_top { padding: 1rem 0; }
  .header_right li { padding: .7rem .8rem; }
  .header_logo { max-width: 10rem; padding-top: .8rem; }
  .topPadidng { padding-top: 5.6rem; }
  .posTop { top: 5.6rem; }
  .main_adb_content .hh { font-size: 4.2rem; margin-bottom: 1.2rem; }
  .main_adb_content .pp { font-size: 2.1rem; margin-bottom: 2rem; }
  .catalog_item .hh { font-size: 2rem; }
  .b_about .column { display: block; width: 100%; padding: 0; }
  .b_about .double_pic, .b_about .double_pic_rev { margin: 0 auto 3rem; }
  .forwhom .column { float: none; width: 100%; }
  .forwhom .double_pic, .forwhom .double_pic_rev { margin: 0 auto 3rem; }
  .b_contacts .column1 { width: 100%; }
  .b_contacts .column2 { width: 100%; margin-top: 2rem; }
  .footer_content .column.cl1 { width: 44%; }
  .footer_content .column.cl2 { width: 26%; }
  .footer_content .column.cl3 { width: 30%; }
  .footer_content .column.cl4 { width: 100%; margin-top: 1rem; }
  .footer_nav li + li { margin-top: .2rem; }
  .masters_picture { margin: 0 0 2rem; }
  .masters_item { width: 100%; margin: 1rem 0; }
  .masters_item:nth-child(3n+1) { margin: 1rem 0; }
  .masters_body .hh { font-size: 1.7rem; }
  .masters_body p { font-size: 1.5rem; }
  .master_nav a { font-size: 1.5rem; }
  .about_desc { font-size: 1.6rem; }
  .about .space { height: 4rem; }
  .adb_picture { margin-bottom: 3rem; }
  .catalog_page { padding-bottom: 4rem; }
  .product_picture { float: none; width: 100%; margin-bottom: 2rem; }
  .product_info { float: none; width: 100%; max-width: 58rem; margin: 0 auto; }
  .reviewed .title_, .reviewed .title { margin-bottom: 2rem; }
  .reviewed_item { width: 48.5%; margin-left: 3%; }
  .reviewed_item:nth-child(4n+1) { margin-left: 3%; }
  .reviewed_item:nth-child(odd) { margin-left: 0; }
  .reviewed_item .hh { font-size: 1.9rem; }
  .category_content { padding-bottom: 4rem; }
  .category_items { padding-bottom: 0; }
  .blog { padding-top: 2rem; }
  .blog_content .h3 { font-size: 1.8rem; }
  .blog_content p { font-size: 1.5rem; }
  .blog_content .more { font-size: 1.5rem; }
  .blog_pic { width: 24rem; }
  .article_tt .ttl { font-size: 3.4rem; }
  .buy_ico { position: relative; top: 0; margin-bottom: 2rem; }
  .buy_inn { max-width: 53.5rem; padding: 0; }
  .buy_item { padding-bottom: 3.6rem; margin-bottom: 4rem; }
  .search_result_item { width: 48.5%; margin-left: 3%; }
  .search_result_item:nth-child(4n+1) { margin-left: 3%; }
  .search_result_item:nth-child(odd) { margin-left: 0; }
  .table_product .tt { font-size: 1.3rem; letter-spacing: 0; }
  .table_product .type_number span { width: 3rem; }
  .total_price { font-size: 1.6rem; } }
@media only screen and (max-width: 600px) { .catalog_item { display: block; width: 100%; max-width: 40rem; margin: 0 auto 4rem; }
  .catalog_item:nth-child(3n+1) { margin-left: auto; }
  .special .column { display: block; }
  .special .cl2 { display: none; }
  .footer_content .column.cl1 { width: 100%; padding-right: 0; }
  .footer_content .column.cl2 { width: 48%; }
  .footer_content .column.cl3 { width: 52%; }
  .footer .hh { margin-bottom: .4rem; }
  .master_works_item { width: 100%; margin: 1rem auto; }
  .master_works_item .tt { height: auto; }
  .master_works_item:nth-child(3n+1) { margin-left: auto; }
  .master_works_item:nth-child(odd) { margin-left: auto; }
  .about .double_pic, .about .double_pic_rev, .about .double_pic_rev { width: 100%; margin: 0 auto 2rem; }
  .blog_item { display: block; }
  .blog_pic { display: block; width: 100%; padding: 4px; margin-bottom: 2rem; }
  .blog_pic .img { margin: 0 auto; }
  .blog_content { display: block; }
  .blog_items { padding-top: 2rem; }
  .contacts_info { float: none; width: 100%; max-width: 36rem; margin: 0 auto 2rem; }
  .contacts_form { width: 100%; }
  .contacts .feedback { margin: 0 auto; } }
@media only screen and (max-width: 550px) { [class*='col_'] { width: 100%; margin-right: 0; }
  h1, .h1 { font-size: 2.6rem; }
  h2, .h2 { font-size: 2.4rem; }
  h3, .h3 { font-size: 2.2rem; }
  .content { font-size: 1.4rem; }
  .content img[style*="float"] { float: none !important; display: block; max-width: 100%; margin: 0 auto 2rem !important; }
  .content blockquote { padding-left: 2rem; }
  .category_item { display: block; width: 100%; max-width: 32rem; margin: 0 auto 4rem !important; }
  .article_tt { height: 18rem; }
  .article_tt .ttl { font-size: 2.8rem; }
  .article_info .tcell:nth-child(2) { width: 12rem; }
  .contacts { padding-bottom: 3rem; }
  .b_subscribe { padding-bottom: 4rem; }
  .subscribe .input { max-width: 52%; }
  .subscribe .button { width: 44%; }
  .search_result { padding-bottom: 4rem; }
  .search_result_item { margin-bottom: 3rem; }
  .table_product .btn_del_cart { opacity: 1; }
  .table_res { display: block; }
  .table_res thead { display: none; }
  .table_res tbody { display: block; }
  .table_res tbody tr { display: block; border-bottom: 1px solid #9c9c9c; }
  .table_res tbody td { display: table; width: 100% !important; }
  .table_res tbody td:before { content: attr(data-title); display: table-cell; width: 40%; padding: 1.5rem 1rem 1.5rem 0; font: 1.3rem/1.3 Roboto; color: #1e1e1e; border-right: 1px solid #e5e7e9; vertical-align: middle; text-align: center; word-wrap: break-word; }
  .table_res tbody td .td_mob { display: table-cell; width: 60%; padding: 1.5rem 0 1.5rem 1rem; vertical-align: middle; word-wrap: break-word; }
  .table_product td.td_product a { display: block; }
  .table_product td.td_product a .item { display: block; width: 100%; padding: 0; text-align: center; }
  .table_product td.td_product a .item:last-child { padding-top: 1.5rem; }
  .table_product td.td_product a .img { max-width: 20rem; margin: 0 auto; }
  .cart .title_, .cart .title { float: none; width: 100%; text-align: center; }
  .cart .title_:before, .cart .title:before { position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
  .cart .btn_2 { float: none; display: block; max-width: 24rem; min-width: 0; margin: 0 auto; }
  .btn_del_cart { font-size: 1.4rem; }
  .cart .cart_bottom { text-align: center; }
  .full_price { width: 100%; margin-right: 0; } }
@media only screen and (max-width: 500px) { .b_contacts .coln1 { width: 100%; }
  .b_contacts .coln2 { width: 100%; margin-top: 1rem; }
  .master_nav a { width: 100%; text-align: center; }
  .title_, .title, .title { font-size: 2rem; }
  .pagination li { margin: .4rem 0; } }
@media only screen and (max-width: 450px) { .header_right li { padding: .7rem .1rem; }
  .header li.header_lang .ttl { padding: .2rem .5rem; }
  .main_adb_content .hh { font-size: 2.8rem; }
  .main_adb_content .pp { font-size: 1.6rem; }
  .masters_img { float: none; width: 100%; margin-bottom: 1.2rem; }
  .masters_body { position: relative; width: 100%; }
  .masters_body .btns_wr { position: relative; }
  .masters_body .btns_wr:before { display: none; }
  .masters_item { margin: 1.5rem 0; }
  .reviewed_item { width: 100%; margin: 0 auto 3rem !important; }
  .subscribe .input { max-width: 100%; }
  .subscribe .button { width: 100%; }
  .buy { padding: 4rem 0 6rem; }
  .buy_item { padding-bottom: 2.6rem; margin-bottom: 3rem; }
  .buy li, .buy p { margin-bottom: 1.2rem; line-height: 1.36; } }
@media only screen and (max-width: 400px) { .search_result_item { width: 100%; margin: 0 auto 3rem; } }
@media only screen and (max-width: 380px) { .nav_btns { display: block; }
  .header_right li:not(.cart) { display: none; }
  .header_right .cart { border: 0; }
  .pagination li { display: none; }
  .pagination .active, .pagination .prev, .pagination .next { display: inline-block; width: 33%; background-color: #f5f5f5; }
  .blog_nav .button { width: 100%; padding: .7rem 0; margin: .8rem 0; }
  .article_info { display: block; padding: .5rem 0; }
  .article_info .tcell { display: block; width: 100% !important; padding: .3rem 0; } }
@media only screen and (max-width: 350px) { .footer_content .column.cl2 { width: 100%; padding-right: 0; }
  .footer_content .column.cl3 { width: 100%; padding-right: 0; } }

/*# sourceMappingURL=main.css.map */
